{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Are these the company details you want to use to apply for a loan?</h1>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registered company name
          </dt>
          <dd class="govuk-summary-list__value">
            ABC Developments
          </dd>
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company Registration Number
          </dt>
          <dd class="govuk-summary-list__value">
            AC012345
          </dd>
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company address
          </dt>
          <dd class="govuk-summary-list__value">
            12 Wharf Street
            <br>Leeds
            <br>LS1 3JW
            <br>United Kingdom

          </dd>
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
      </dl>

      
      </dl>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes, these are the company details I want to use"
    },
    {
      value: "no",
      text: "No, I need to change my company details with Companies House"
    },
    {
      value: "no again",
      text: "No, I need to enter my company details again"
    },
    {
    }
  ]
}) }}
      
      <form action="/contact" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
