{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="start">Start page - You’re eligible to apply for a loan</a>
      </li>
      <li>
        <a class="govuk-link" href="/email">Email - What is your email address?</a>
      </li>
      <li>
        <a class="govuk-link" href="/check-email">Check email - Check your email address</a>
      </li>
      <li>
        <a class="govuk-link" href="/confirmed-email">Confirmed Email - Email address confirmed</a>
      </li>
      <li>
        <a class="govuk-link" href="/create-password">Create Password - Create Your Password</a>
      </li>
      <li>
        <a class="govuk-link" href="/company-reg-number">Company reg number - Do you have a company registration number?</a>
      </li>
      <li>
        <a class="govuk-link" href="/change-email">Change email</a>
      </li>
      <li>
        <a class="govuk-link" href="#">More</a>
      </li>
    </ul>
      
  </div>
</div>

{% endblock %}
